:root {
  --light-lavender: #BA87DE;
  --dark-lavender: #8D5EB7;
  --purple: #6A0DAD;
  --purple-light: #8C33C6;
  --dark-purple: #5B0C91;
  --text-dark: #3D065F;
}

/* Reset box-sizing globale */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif, sans-serif;
  background-color: var(--light-lavender);
  color: var(--purple);
  width: 100%;
  height: 100%;
}

/* Titolo di benvenuto grande centrale */
.welcome-title {
  font-size: 5rem;
  color: var(--purple);
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 900;
  text-shadow: 1px 1px 3px var(--dark-purple);
}
