<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="/css/autori.css">
</head>
<body>
   
   <header>
    <nav class="navbar">
        <div class="nav-links">
            <a href="/" title="Home">
                <img src="/images/Siw-Books-Cut-Logo.png" alt="logo" class="logo" />
            </a>
            <a href="/libro">Books</a>
            <a href="/autore">Authors</a>
            <a href="/recensione">Reviews</a>
        </div>

        <div class="user-block" th:if="${userDetails}">
            <a class="username-pill" th:href="@{'/recensione/' + ${userDetails.username} + '/recensioni'}" th:text="${nickname}"></a>
            <a class="logout-link" href="/logout">Logout</a>
        </div>

        <div class="user-block" th:unless="${userDetails}">
            <a class="login-link" href="/login">Login</a>
        </div>
    </nav>
</header>
   
    <h1>Authors</h1>
    
    <div class="add-author-container" th:if="${role == 'ADMIN'}">
        <a href="/autore/formNewAutore" class="add-author-button">+ Add Author</a>
    </div>
    
    <div class="autori-grid">
        <div class="autore-card" th:each="autore : ${autori}">
        	<a th:href="@{'/autore' + '/' +${autore.id}}">
        		<img th:if="${autore.immagine != null}"  
        			 th:src="@{'/images-db-autore/' + ${autore.immagine.id}}" 
        			 alt="Foto di [[${autore.firstName}]] [[${autore.lastName}]]">
   		    </a>
            <div class="autore-name">
                <span th:text="${autore.firstName} + ' ' + ${autore.lastName}"></span><br>
  				<span class="nationality" th:text="'(' + ${autore.nationality} + ')'"></span>
            </div>
        </div>
    </div>
</body>
</html>
