<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <title>Siw Books - Registration</title>
    <link rel="stylesheet" th:href="@{/css/formStyle.css}" />
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-links">
            <a href="/" title="Home"><img src="/images/Siw-Books-Cut-Logo.png" alt="logo" class="logo"/></a>
            <a href="/libro">Books</a>
            <a href="/autore">Authors</a>
            <a href="/recensione">Reviews</a>
        </div>

        <div class="user-block" th:if="${userDetails}">
            <a class="username-pill" th:href="@{'/recensione/' + ${userDetails.username} + '/recensioni'}" th:text="${nickname}"></a>
            <a class="logout-link" href="/logout">Logout</a>
        </div>
        <div class="user-block" th:unless="${userDetails}">
            <a class="login-link" href="/login">Login</a>
        </div>
    </nav>
</header>

<main>
    <h1 class="page-title">New User Registration</h1>
    <div class="form-container">
    <form th:action="@{/register}" method="post">

		<label for="nickname">Nickname
			<input type="text" id="nickname" th:field="${user.nickname}" placeholder="Nickname" required />
		<span th:if="${#fields.hasErrors('user.nickname')}" th:errors="${user.nickname}" th:style="'color:red'"></span>
</label>


		<label for="email">Email

			<input type="email" id="email" th:field="${user.email}" placeholder="Email" required />

		<span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'"></span>
</label>


		<label for="username">Username

			<input type="text" id="username" th:field="${credentials.username}" placeholder="Username" required />

		<span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
</label>


		<label for="password">Password

			<input type="password" id="password" th:field="${credentials.password}" placeholder="Password" required />

		<span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
</label>

	<div>
		<button type="submit">Register</button>
	</div>
</form>
</div>

</main>
</body>
</html>
