<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Add New Book</title>
    <link rel="stylesheet" href="/css/formStyle.css">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="nav-links">
            <a href="/" title="Home">
                <img src="/images/Siw-Books-Cut-Logo.png" alt="logo" class="logo"/>
            </a>
            <a href="/libro">Books</a>
            <a href="/autore">Authors</a>
            <a href="/recensione">Reviews</a>
        </div>

         <div class="user-block" th:if="${userDetails}">
            <a class="username-pill" th:href="@{'/recensione/' + ${userDetails.username} + '/recensioni'}" th:text="${nickname}"></a>
            <a class="logout-link" href="/logout">Logout</a>
        </div>

        <div class="user-block" th:unless="${userDetails}">
            <a class="login-link" href="/login">Login</a>
        </div>
    </nav>
</header>

<main>
    <h1 class="page-title">Add New Book</h1>

    <div class="form-container">
        <form th:action="@{/libro/newLibro}" th:object="${libro}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Book Details</legend>

                <label for="title">Title
                    <input type="text" th:field="*{title}" id="title" required />
                </label>

                <label for="year">Year
                    <input type="number" th:field="*{year}" id="year" max="2025" required />
                </label>

                <label for="listaAutori">Authors 
                    <select th:field="*{listaAutori}" id="listaAutori" multiple size="5" required>
                        <option th:each="autore : ${autori}" 
                                th:value="${autore.id}" 
                                th:text="${autore.firstName} + ' ' + ${autore.lastName}">
                        </option>
                    </select> 
                    <small class="multi-select-info">Hold <strong>CTRL/CMD</strong> to select multiple authors</small>
                </label>
                <label for="immagini">Upload Images
                    <input type="file" name="immagini" id="immagini" multiple accept="image/*" required />
                </label>

                <button type="submit">Save Book</button>
            </fieldset>
        </form>
    </div>
</main>

</body>
</html>
