<!DOCTYPE html>
<html>

<head>
	<title>
		Siw Books - Login
	</title>
	<link rel="stylesheet" href=""/>
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${nickname}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div>
		<a href="/"><img src ="/images/Siw-Books-Cut-Logo.png" width="10%"/></a>
	</div>
	<h1>Login</h1>
	<form th:action="@{/login}" method="POST">
		<div>
			<span>Username:</span>
			<span><input name="username" type="text" required/></span> 
		</div>
		<div>
			<span>Password:</span>
			<span><input name="password" type="password" required/></span> 
		</div>
		<div>
			<span th:if="${param.error != null}">Wrong Username and/or Password!</span>
		</div>
		<div>
			<span><button type="submit">Login</button></span>
			<a th:href="@{/register}" th:text="Register">Register</a>
		</div>
		
	</form>

</body>

</html>