<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Siw Books</title>
		<link rel="icon" type="image/png" href="/images/Siw-Books-Cut-Logo.png" />
		<link rel="stylesheet" href="/css/homepage.css">
</head>

<body>
  <header>
    <div class="nav-left">
      <a href="/">
        <img src="/images/Siw-Books-Cut-Logo.png" alt="logo" title="Home" class="logo" />
      </a>
    </div>
    <div class="nav-right">
      <div th:if="${userDetails}">
        <span th:text="${nickname}">Username</span>
        <a href="/logout">Logout</a>
      </div>
      <div th:unless="${userDetails}">
        <a href="/login">Login</a>
      </div>
    </div>
  </header>

  <main>
    <div class="center-links">
      <a href="/libro">Books</a>
      <a href="/autore">Authors</a>
      <a href="/recensione">Reviews</a>
    </div>
  </main>
</body>
</html>
